/* Variables */
:root {
  --black: #000000;
  --white: #ffffff;
  --border-color: #cccccc;
  --form-background: #f5f5f5;
  --background: var(--white);
  --text: var(--black);
}

/* Base Styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text);
  background: var(--background);
  font-size: 1.3em;
  line-height: 1.45;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Typography */
a {
  color: var(--text);
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2;
}

/* Layout */
.FigmaAnalyzer {
  display: flex;
  width: 100%;
  height: 100%;
}

.Form {
  flex: 2;
  gap: 1em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: var(--form-background);
}

.Results {
  position: relative;
  flex: 8;
  width: 100%;
  border-left: 1px solid var(--border-color);
}

.Results__header {
  padding: 1em;
  border-bottom: 1px solid var(--border-color);
  display: none;
}

.Results__header.is-visible {
  display: flex;
  flex-direction: column;
}

.Results__content {
  height: 100%;
  overflow-y: auto;
}

.Results__loader {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
  top: 0;
  left: 0;
  font-size: 0.8em;
  display: none;
}

.Results__loader.is-visible {
  display: flex;
  opacity: 1;
  animation: fadeInOut 2s ease-in-out infinite;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8em;
}

.Form__field {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

label {
  font-weight: 500;
  font-size: 0.8em;
}

input,
button {
  font-family: inherit;
  font-size: 0.8em;
  padding: 8px;
}

button {
  cursor: pointer;
}

.Download button {
  width: 100%;
  text-align: center;
}

/* Property Styles */
.Property {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 1em;
  font-size: 0.8em;
  cursor: pointer;
  user-select: none;
}
.Property:hover {
  background: #fafafa;
}

.Property.is-open .Property__components {
  display: block;
}

.Property__components {
  display: none;
}

.Property__label {
  font-weight: 500;
}

.Property__summary .Property__label {
  text-decoration: underline;
}

.Property__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Property__name {
  font-weight: 500;
  font-size: 1.2em;
}

.Component {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border: 1px solid var(--border-color);
  color: var(--text);
  font-size: 0.8em;
  border-radius: 20px;
  padding: 2px 8px;
  text-decoration: none;
  margin-right: 0.4em;
  margin-bottom: 0.4em;
}
.Component:hover {
  background: #f0f0f0;
  color: #000;
}

.Property__type {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--form-background);
  color: var(--text);
  border-radius: 4px;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 4px 8px;
  font-weight: 500;
}

.Property.is-boolean:hover {
  background-color: rgba(218, 255, 224, 0.3);
}

.Property.is-text:hover {
  background-color: rgba(223, 244, 255, 0.3);
}

.Property.is-variant:hover {
  background-color: rgba(255, 242, 215, 0.3);
}

.Property__type.is-boolean {
  background: #daffe0;
  color: #144722;
}

.Property__type.is-text {
  background: #dff4ff;
  color: #1b2c68;
}

.Property__type.is-variant {
  background: #fff2d7;
  color: #4d3716;
}

/* Details and Summary Styles */
.Property__detail {
  position: relative;
  max-width: 90%;
}

.Property__summary {
  position: relative;
  cursor: pointer;
  user-select: none;
  list-style: none;
}

.Property__summary::-webkit-details-marker {
  display: none;
}

.Property__components {
  margin-top: 0.4em;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
