:root {
  --background: #fff;
  --text: #333;
}

html,
body {
  height: 100%;
}

body {
  color: var(--text);
  background: var(--background);

  font-size: 1.3em;
  line-height: 1.45;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.Content {
  display: flex;
  width: 100%;
  height: 100%;
}
.Form {
  flex: 2;
  display: flex;
  border-right: 1px solid #ccc;
  padding: 1em;
}
.Results {
  flex: 8;
  width: 100%;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8em;
}

input,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8em;
  padding: 8px;
}

button {
  cursor: pointer;
}

#result {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8em;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#controls button {
  width: 100%;
  text-align: center;
}
